/* You can add global styles to this file, and also import other style files */
@import "~@ag-grid-community/all-modules/dist/styles/ag-grid.css";
@import "~@ag-grid-community/all-modules/dist/styles/ag-theme-balham.css";

/*设置鼠标在ag-grid行上面时，突出显示的背景颜色*/
.ag-row-hover {
    background-color:lightcyan !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* 去除百度地图logo */
.anchorBL {
    display: none;
}

/* .ag-theme-balham .noLocation {
    background-color: #Eeeeee;
    color: #aaaaaa;
}

.ag-theme-balham .row1 {
    background-color: lightblue;
}

.ag-theme-balham .row2 {
    background-color: lightcyan;
}

.ag-theme-balham .row3 {
    background-color: lightgreen;
}

.ag-theme-balham .row4 {
    background-color: lightskyblue;
} */